<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>

    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    Id :
                    <input type="text" class="form-control" v-model="Id">
                </label>
                <label>
                    Name :
                    <input type="text" class="form-control" v-model="Name">
                </label>
                <!-- 时间绑定是 add 可以加() 里面可以添加参数 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add">

                <label>
                    搜索 :
                    <input type="text" class="form-control" v-model="keyWords" @keyup.enter="search" v-focous v-color="'blue'">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Time</td>
                    <td>Opteration</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keyWords)" :key="item.id">
                    <td>{{ item.Id }}</td>
                    <td>{{ item.Name }}</td>
                    <!-- 使用过滤器 格式化日期格式 -->
                    <td>{{ item.Time | dateFormat("") | msg}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.Id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


    <div id="app2" v-color="'red'" v-fontweight="100">
        {{ date | dateFormat("yyyy-mm-dd") }}
    </div>
    <script>

        // 定义全局自定义指令
        /* 
            参数一 指令名称 不加 v-前缀,调用的时候才加
            参数贰 是一个对象,有一些指令相关的函数,可以在特定阶段执行相关操作
        */
        Vue.directive("focous",{
            /* 
                全部方法的第一个参数都是 el 代表当前的元素,是一个 dom 元素
             */
            // 绑定的时候触发一次
            // 在元素刚刚做了绑定的时候,还没插入到 dom中去,这个时候focus 方法就没有作用
            // 因为一个元素只有插入 dom 之后才能获取焦点
            // 样式有关的用 bind
            bind : function(el){
                el.focus();
            },
            // 插入的时候触发一次 行为有关的都用 insert
            inserted : function(el){
                el.focus();
            },
            // 更新的时候触发,触发多次
            updated : function() {
                
            }
        })
        //自定义一个设置字体颜色的指令
        Vue.directive("color",{
            // 设置样式不需要插入 dom 就可以起作用
            bind : function(el,binding){
                el.style.color = binding.value;
            
            },
        
        })

        // 过滤器  方法第一个参数永远都是过滤器管道符号|前面的值
        // 只能在 v-bind 和 插值表达式 中使用
        Vue.filter("dateFormat", function (date, pattern) {
            // 根据给定的时间字符串得到特定的时间
            var dt = new Date(date);
            var year = dt.getFullYear();
            var mon = dt.getMonth() + 1;
            var day = dt.getDate();
            //return year +"-"+ mon + "-" +day;
            // 判断 pattern 是否是undefined
            if (pattern && pattern.toLowerCase() == "yyyy-mm-dd") {
                return `${year}-${mon}-${day}`;
            } else {
                var hour = dt.getHours();
                var min = dt.getMinutes();
                var ss = dt.getSeconds();
                return `${year}-${mon}-${day}:${hour}:${min}:${ss}`;
            }
        })

        // 过滤器  方法第一个参数永远都是过滤器管道符号|前面的值
        Vue.filter("msg", function (date) {
            return date + "";
        })

        var vm = new Vue({
            el: "#app",
            data: {
                Id: "",
                Name: "",
                keyWords: "",
                list: [
                    { Id: 1, Name: "奔驰", Time: new Date() },
                    { Id: 2, Name: "宝马", Time: new Date() },
                    { Id: 3, Name: "丰田", Time: new Date() },
                ]
            },
            methods: {
                add: function () {
                    this.list.push({
                        Id: this.Id,
                        Name: this.Name,
                        Time: new Date(),
                    });
                    this.Name = "",
                        this.Id = ""
                },
                del: function (Id) {
                    this.list.some((item, i) => {
                        if (item.Id == Id) {
                            // 删除 i 索引, 删除一个
                            this.list.splice(i, 1);
                            // 找到 id 终止循环
                            return true;
                        }
                    })
                },
                search: function (keyWords) {
                    /* 
                    第一种方法:
                    var newList = [];
                    this.list.forEach(item => {
                        if(item.Name.indexOf(keyWords) != -1){
                            newList.push(item);
                        }
                    });
                    return newList; 
                    */
                    // 注意 foreach some filter findIndex 都会对数组中的每一项就行遍历
                    var newList = this.list.filter(item => {
                        if (item.Name.includes(keyWords)) {
                            return item;
                        }
                    })
                    return newList;
                }
            },
        })



        var vm2 = new Vue({
            el: "#app2",
            data: {
                date: new Date(),
            },
            methods: {

            },
            // 私有过滤器
            filters: {
                dateFormat : function (date,pattern) {
                    // 根据给定的时间字符串得到特定的时间
                    var dt = new Date(date);
                    var year = dt.getFullYear();
                    var mon = (dt.getMonth() + 1).toString().padStart(2,"0");
                    var day = (dt.getDate()).toString().padStart(2,"0");
                    //return year +"-"+ mon + "-" +day;
                    // 判断 pattern 是否是undefined
                    if (pattern && pattern.toLowerCase() == "yyyy-mm-dd") {
                        return `${year}-${mon}-${day}`;
                    } else {
                        var hour = (dt.getHours()).toString().padStart(2,"0");
                        var min = (dt.getMinutes()).toString().padStart(2,"0");
                        var ss = (dt.getSeconds()).toString().padStart(2,"0");
                        return `${year}-${mon}-${day}:${hour}:${min}:${ss}`;
                    }
                }
            },
            //局部自定义指令
            directives: {
                "fontweight" : {
                    bind : function(el,weight){
                        el.style.fontWeight = weight.value;
                    }
                }
            }
        })

        

    </script>
</body>

</html>